/* Animation for increasing size */
@keyframes size {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
}

/* Navigation bar styles */
nav {
  display: grid;
  justify-content: end;
  align-items: end;
}

/* Button styles */
button {
  margin: 5px;
  padding: 10px;
  text-align: left;
   /* Align button text to the left */
  background-color: #712c24b2;
  border-radius: 5px;
  font-size: 15px;
  color: rgba(249, 250, 250, 0.932);
}
/* Hover effect for buttons */
button:hover {
  background-color: rgb(20, 49, 69);
  animation-name: size;
  animation-duration: 2s;
  animation-iteration-count: infinite; /* Combined animation properties */
}

/* Background using linear gradient */
body {
    margin: 0;
    padding: 0;
    display: grid;
    background-image: linear-gradient(
        rgba(17, 5, 5, 0.364),
        rgba(135, 132, 132, 0.128)
      ),
      url("https://images.unsplash.com/photo-1504718855392-c0f33b372e72?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzl8fHJlc3RhdXJhbnR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=400&q=60");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Text styles */
.text{
    display: grid;
    color: #e2e0d1;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    justify-content: center;
    margin: 0;
}


